<h1>Intermountain Healthcare Doctors</h1>
<%= link_to 'Add Doctor', new_doctor_path, class: "ui button blue inverted" %>
<br />
<br />
<hr />


<table class="ui celled table">
  <thead>
    <th>Doctor Name</th>
    <th>Specialty</th>
    <th>Education</th>
    <th>Phone</th>
    <th>Appointments</th>
    <th>Remove</th>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.name, doctor_path(doctor) %></td>
        <td><%= doctor.specialty %></td>
        <td><%= doctor.school %></td>
        <td><%= doctor.phone %></td>
        <td><%= doctor.appointments.count %></td>
        <td><%= link_to 'Remove', doctor_path(doctor), method: :delete, class:"ui button red inverted" %></td>
      </tr>
    <% end %>
  </tbody>

</table>


